

 <div class="container-fluid text-center;float:center;">
    <div class="boxed">
      <%= render "users/project_name"%>
      <%= render "users/logged_in" %>
      <div style="margin-top:60px">
        <%= link_to "About", welcome_about_path, style:'color:black;float:left;background-color: #D2B48C',class: 'btn btn-primary'%>
      </div>
     <!-- <div style="width:400px; height:200px;float:center;"> -->
        <h1 style="text-align:center;margin-left:-70px">Todo_list:</h1>
        <p style="text-align:center;margin-left:10px;">A self-destructing to-do list to 
         keep you focussed on the things that 
really matter</p>
        
           <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> 
           <%= link_to "Sign In", new_session_path, class: 'btn btn-primary'%>
           <%= link_to "Get_going", welcome_index_path, class: 'btn btn-primary'%>
         </p>
     <!-- </div> -->
       <br>
    <div style="width:600px; height:100px; float:center; margin-top:50px; border: px solid black;">
      <table style="width: 100%; height:100%;border: 3px solid black;margin-left:40px;float:center;">
        <tr>
          <th>Todo</th>
          <th>Days_Left</th>
          <th>Complete</th>
          <th>Created_at</th>
        </tr>
        <tr>
          <td>ChangeOil</td>
          <td>3</td>
          <td>Complete</td>
          <td>2017-01-19 19:03:54 UTC</td>
        </tr>
        <tr>
          <td>Pay_the_Phone_bill </td>
          <td>3</td>
          <td>Complete</td>
          <td>2017-01-15 10:03:54 UTC</td>
       </tr>
       <tr>
          <td>Renew_the_Licence</td>
          <td>6</td>
          <td>Complete</td>
          <td>2017-01-20 07:03:54 UTC</td>
      </tr>
    </table>
   </div>
   </div>
 </div>

