<%= form_for [@user, @todo] do |f| %>
  <% if todo.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(todo.errors.count, "error") %>.</h4>
      <ul>
        <% todo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="form-group", style="margin-left:40px;">
    <%= form_group_tag(todo.errors[:todo_item]) do %>
      <%= f.label :todo_item %>
      <%= f.text_field :todo_item, class: 'form-control', placeholder: "Enter todo" %>
    <% end %>
    <%= form_group_tag(todo.errors[:days_left]) do %>
       <%= f.label :days_left %>
       <%= f.number_field :days_left, rows: 8, class: 'form-control', placeholder: "Enter days_left" %>
    <% end %>
  </div>
   <div class="form-group", style="margin-left:40px;">
     <%= f.submit "Save", class: 'btn btn-primary' %>
   </div>
 <% end %>