<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid blue;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body>
<div style="width:700px; height:820px; margin-left:150px;background-color:#D2B48C; border: 3px solid #191970; color:black">
<h2>Index Page</h2>
<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
       <%= @user.name %>
     </section>
    </aside> 
</div>
<h3>My Todos</h3>
<table style="width:75%">
      <tr>
        <th>Todo(click link to edit) </th>
        <th>Days Left</th> 
        <th>Complete(click link to delete)</th>
        <th>Create At</th>
      </tr>
    <% @todos.each do |todo| %>
      <tr>
       <td><%= link_to todo.todo_item, edit_user_todo_path(@user, todo), class: 'btn btn-success' %></td>
       <td><%= distance_of_time_in_words(todo.due_date, Time.now) %></td>
       <td><%= link_to "complete", [@user, todo], method: :delete  %></td>
       <td><%= todo.created_at %></td>
     </tr>
    <% end %>
  </div>
</div>
</table>
<h4>Create New Todo</h4>
<div class="row">
  <div class="col-md-4">
    <%= render partial: 'form', locals: {todo: @todo} %>
    <%#= link_to "New", new_user_todo_path(current_user, @todo), class: 'btn btn-success' %>
  </div>
</div>
</div>
</body>
</html>


 
