<!DOCTYPE html>
<html>
<head>
  <title>Todo_list</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>
</head>
<body>
   <nav class="navbar navbar-inverse">
    <div class="container">
      <div id="navbar-header">
        <ul class="pull-left">
          <!-- <p style="color:white;font-family:AIR DARLING;">Todo_list:</p> -->
          <%= render "users/shared/project_name"%>
          <%= link_to 'Home   ', root_path, style:'color:white;font-weight:bold;' %>
          <%= link_to 'About', welcome_about_path, style:'color:white;font-weight:bold;'%>
          <%= link_to 'Help', welocme_help_path, style:'color:white;font-weight:bold;'  %>
        </ul>
        <ul class="pull-right">
          <%= render "users/shared/logged_in",style:'color:white;font-weight:bold;' %>
          
        </ul>
      </div> 
  </nav> 
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <%= value %>
      </div>
    <% end %>
  </div>

  <%= yield :top_content %>

  <div class="container", style:'background-color: #D2B48C;'>
    <h1><%= yield :header %></h1>
    <%= yield %>
  </div>
  
</body>
</html>
